[user]
    name = Radek Szymczyszyn
    email = radek.szymczyszyn@v7labs.com
[alias]
    st = status
    co = checkout
    br = branch
    l = log --format=\"%C(auto)%h %C(blue)%ad%Creset %s\" --abbrev-commit --date=short

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    status = auto
[diff "key"]
    binary = true
    textconv = keynote-to-text
    cachetextconv = true
[core]
    editor = vim
[core]
    pager = diffr | less -R
[interactive]
    diffFilter = diffr

# See https://blog.gitbutler.com/how-git-core-devs-configure-git/
#
# Clearly makes git better
[column]
    ui = auto
#[branch]
#    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main
#[diff]
#    algorithm = histogram
#    colorMoved = plain
#    mnemonicPrefix = true
#    renames = true
#[push]
#    default = simple
#    autoSetupRemote = true
#    followTags = true
#[fetch]
#    prune = true
#    pruneTags = true
#    all = true
#
# Why the hell not?
[help]
    autocorrect = prompt
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
#[core]
#   excludesfile = ~/.gitignore
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
#
# A matter of taste (uncomment if you dare)
#[core]
#   fsmonitor = true
#   untrackedCache = true
[merge]
    conflictstyle = zdiff3
[pull]
    rebase = true

# vim: ts=4 sts=4 sw=4 et
