[user]
    name = Radek Szymczyszyn
    email = radek.szymczyszyn@v7labs.com
[alias]
    st = status
    co = checkout
    br = branch
    l = log --format=\"%C(auto)%h %C(blue)%ad%Creset %s\" --abbrev-commit --date=short

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    status = auto
[diff "key"]
    binary = true
    textconv = keynote-to-text
    cachetextconv = true
[core]
    editor = vim
[interactive]
    diffFilter = diffr

# See https://blog.gitbutler.com/how-git-core-devs-configure-git/
# clearly makes git better
[tag]
    sort = version:refname
[init]
    defaultBranch = main
