[user]
    name = Radek Szymczyszyn
    email = radoslaw.szymczyszyn@erlang-solutions.com
[alias]
    st = status
    co = checkout
    br = branch
    l = log --format=\"%C(auto)%h %C(blue)%ad%Creset %s\" --abbrev-commit --date=short

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    status = auto
[diff "key"]
    binary = true
    textconv = keynote-to-text
    cachetextconv = true
[interactive]
    diffFilter = diffr
